    #vc-spotify-player {
        padding: 12px;
        margin: 0;

        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: 1px solid var(--border-subtle);

        background: transparent; /* ← remove the background */

        --vc-spotify-green: var(--spotify, #1db954);
        --vc-spotify-green-90: color-mix(in hsl, var(--vc-spotify-green), transparent 90%);
        --vc-spotify-green-80: color-mix(in hsl, var(--vc-spotify-green), transparent 80%);
    }

    .container__2637a {
        align-items: stretch;
        background: transparent;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        justify-content: flex-start;
        margin-inline-start: -1px;
        min-height: 0;
        padding-bottom: calc(var(--custom-app-panels-height, 0) + var(--space-xs) - 16px);
        position: relative;
    }

    :where(.container_a62383):before {
        background: var(--transparent);
        border-radius: inherit;
        bottom: var(--custom-gradient-offset-bottom);
        content: "";
        display: block;
        left: 0;
        -webkit-mask-image: radial-gradient(100% 100% at 50% 100%, var(--transparent) 60%, #000 100%);
        mask-image: radial-gradient(100% 100% at 50% 100%, var(--transparent) 60%, #653030 100%);
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }

    .callContainer_cb9592.theme-dark.theme-midnight.images-dark {
        background: transparent;
    }

    .scroller__23746 {
        background: var(--transparent);
        display: flex;
        flex: 1;
        flex-direction: column;
    }


    .root_bfe55a {
        align-items: center;
        background: var(--transparent);
        color: var(--white);
        display: flex;
        height: 100%;
        justify-content: center;
        position: relative;
        width: 100%;
    }

    .buttonSection__1405b {
        background: var(--transparent);
        border: 1px solid var(--border-muted);
        border-radius: 12px;
        gap: 8px;
        padding: 4px;
    }

    .colorable_f1ceac.disconnect_f1ceac {
        background: var(--control-critical-primary-background-default);
        opacity: 0.4;
    }

    .mainPageScroller__80907 {
        background: var(--transparent);
        contain: layout size;
    }

    .container_e0cd4a {
        background-color: var(--transparent);
        border: 1px solid var(--border-muted);
        border-radius: var(--radius-lg);
        box-sizing: border-box;
        display: flex;
        filter: saturate(var(--saturation-factor, 1));
        justify-content: space-between;
        max-width: var(--custom-premium-home-max-width);
        overflow: hidden;
        padding: var(--space-12);
        position: relative;
        width: 100%;
    }

    .custom-user-profile-theme.user-profile-modal-v2 .inner_c0bea0 {
        background: transparent;
    }

    .card_b5493b {
        --custom-card-border-radius: 20px;
        align-items: flex-start;
        background-color: var(--transparent);
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid var(--border-muted);
        border-radius: var(--custom-card-border-radius);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 24px;
        position: relative;
        width: 100%;
    }

    .container_cec934 {
        align-items: center;
        background-color: var(--transparent);
        border: 1px solid var(--border-muted);
        border-radius: 10px;
        box-shadow: var(--shadow-low);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: auto;
        max-height: 316px;
        min-width: 336px;
        overflow: hidden;
        width: 100%;
    }

    .shop__6db1d {
        background-color: var(--transparent);
        border-top: 1px solid var(--app-frame-border);
        box-sizing: border-box;
        display: flex;
        flex: 1;
        flex-direction: column;
        height: 100%;
        min-width: 550px;
        overflow: hidden;
    }

    .shop__08415 {
        --custom-spacing: 16px;
        --custom-gap: 24px;
        background: var(--transparent);
        background-color: var(--transparent);
        overflow-x: hidden;
        overflow-y: auto;
        padding-bottom: calc(var(--custom-gap) + 162px);
        position: relative;
        width: 100%;
    }

    .privateChannels_e6b769 {
        background: transparent;
        box-sizing: border-box;
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow: hidden;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    .scroller__99e7c {
        background: transparent;
        margin-bottom: calc(var(--custom-app-panels-height, 0) + var(--space-xs) - 16px);
        padding-bottom: 16px;
    }

    #app-mount .guilds__5e434 .tree_ef3116 {
        background-color: transparent;
    }

    .custom-theme-background .itemsContainer_ef3116 {
        background: transparent;
    }

    .productCardContainer_fcbddd {
        background: var(--transparent);
        border: 2px solid var(--border-muted);
        border-radius: 8px;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        flex: 1;
        height: 100%;
        margin: 0 auto;
        min-height: 246px;
        min-width: 246px;
        overflow: hidden;
        overflow-anchor: none;
        width: 100%;
    }

    .page__1feb0, .shopScroll__1feb0 {
        background-color: var(--transparent);
        min-height: 0;
    }

    .filterOverlay__1feb0 {
        background-color: var(--transparent);
        border: 1px solid var(--border-subtle);
        border-radius: 8px;
        box-shadow: var(--shadow-border), var(--shadow-high);
        height: -moz-fit-content;
        height: fit-content;
        inset-inline-end: 0;
        overflow: hidden;
        position: absolute;
        top: 100%;
        width: 260px;
        z-index: 1000;
    }

    .homeWrapper__0920e {
        background-color: var(--transparent);
        border-top: 1px solid var(--transparent);
        display: flex;
        flex-direction: column;
        position: relative;
    }

    section.theme-dark.theme-darker.images-dark.container__9293f.themed__9293f {
        background: var(--transparent);
    }
    .emptyCard__7e549 {
        align-items: center;
        background: var(--transparent);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 16px;
        text-align: center;
    }

    .custom-client-theme .mainPageScroller__80907 {
        background: transparent;
    }

    .theme-dark .themed__9293f {
        background: transparent;
    }

    #app-mount .sidebar__5e434 .container__2637a, #app-mount .sidebar__5e434 .privateChannels_e6b769, #app-mount .sidebar__5e434 .scroller__99e7c {
        background-color: transparent;
    }

    .modal_e44912 {
        --custom-viewport-padding: calc(var(--space-40) + var(--custom-app-top-bar-height));
        background: transparent;
        box-sizing: border-box;
        container: modal-container / inline-size;
        height: calc(100% - (var(--custom-viewport-padding)) * 2);
        max-width: 1400px;
        overflow: hidden;
        width: calc(100% - (var(--custom-viewport-padding)) * 2);
    }

    .contentHeader_e9e3ed {
        align-items: center;
        background: transparent;
        border-bottom: 1px solid var(--border-muted);
        display: flex;
        height: 48px;
        justify-content: space-between;
        padding-block: 0px;
        padding-inline: var(--space-16) var(--space-8);
    }

    .content_e9e3ed {
        background: var(--transparent);
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        overflow: hidden;
        position: relative;
    }

    .container__956c6 {
        align-items: flex-start;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: max-height .2s ease-out, height .2s ease-in;
        width: 100%;
        z-index: 2;
    }

    .container__551b0 {
        background: transparent;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .shopScroll__08415 {
        background-color: transparent;
        flex: 1;
        min-height: 0;
        overflow-y: auto;
    }

    .contentHeader_e9e3ed.theme-dark.theme-darker.images-dark {
        background: transparent;
    }

    .container__8a031.modal_e44912.theme-dark.theme-darker.images-dark {
        background: transparent;
    }

    .root__49fc1.small__49fc1.fullscreenOnMobile__49fc1.rootWithShadow__49fc1 {
        background: transparent;
    }

    .footer_c04f35 {
        align-items: center;
        flex-direction: column;
        background: transparent;
    }
